.navbar {
    background-color: rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-item:hover .nav-link {
    color: rgba(63, 200, 255); 
}


.btn-login.btn{
    background-color: rgba(63, 200, 255); 
    color: #ffffff;
}

.btn-login.btn:hover {
    background-color: rgba(50, 162, 206); 
    border-color: rgba(50, 162, 206); 
    color: #ffffff;
}

.btn-donate.btn {
    padding: 6px 20px;
    background-color: rgba(63, 200, 255); 
    border-color: rgba(63, 200, 255);
    color: #ffffff;
    transition: 0.5s;
}

.btn-donate.btn:hover {
    padding: 7px 25px;
    background-color: rgba(50, 162, 206); 
    border-color: rgba(50, 162, 206); 
    color: #ffffff;
}

.btn.btn-outline-primary {
    font-weight: bold;
    border-color: white;
    color: white;
}

.con{
    padding: 200px 0;
}

.quote {
    color: white;
}

.quote2 {
    color: rgba(63, 200, 255);
}
.navbar-brand img.logo {
    margin: 0 5px;
}

.navbar-nav .nav-item {
    padding: 0 20px; /* Adjust the padding as needed */
}

@media (max-width: 768px) {
    .navbar-nav .nav-item {
        padding: 0;
    }
}


  @media (max-width: 500px) {
    .navbar-brand.text-light {
      font-size: 15px !important; /* Adjust the font size as needed */
    }
    .logo{
        width: 60px;
        height: 45px;
    }
  }

  .nav-link.active {
    color: rgba(63, 200, 255) !important; 
  }

  @media (max-width: 768px) {
    .display-4 {
      font-size: 2rem; /* Adjust font size for smaller screens */
    }
  }
